.musica{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.but{
  background-color: #4c77af; /* Green */
  border: none;
  color: white;
  font-family: 'Righteous', cursive;
  padding: 15px 16px;
  width: 350px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 5px;
}